<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Library</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<!-- Nav-Bar -->

<nav class="navigation">
<div class="nav-brand">MY-Portfolio</div>
<ul class="list-non-bullet nav-pills">
    <li class="list-item-inline">
        <a class="link link-active" href="/">Home</a>
    </li>
    <li class="list-item-inline">
        <a class="link" href="/projects.html">Projects</a>
    </li>
    <li class="list-item-inline">
        <a class="link" href="/blogs.html">Blogs</a>
    </li>
</ul>
</nav>
<!--Headings-->

<h1>Hi! I am Arnab, I am a developer.</h1>
<img src="" alt="">

<!-- Technologies Listed -->

<h2>Technologies</h2>
<p>I am familiar with HTML, CSS, BootsTrap, Vanilla Javascript, NodeJs, ReactJs, Git and GitHub and web hosting.</p>
<!-- Projects -->

<h2>Projects</h2>
<p>I have been working on various web development projects and like to showcase my work and thus, you can see my projects hosted online and also go to the project section to view my projects. </p>
<a class="link link-primary" href="/projects.html">See Projects</a>

<!-- Blogs -->

<h2>Blogs</h2>
<p>I am also working on some technical and non technical blogs. I would like to document my journey of learning.</p>
<a class="link link-secondary" href="/blogs.html">Read Blogs</a>
<!-- Footer -->

<footer class="footer">
<div class="footer-header"><h3>Connect with me!</h3></div>
<ul class="social-links list-non-bullets">
    <li
    class="list-item-inline">
        <a class="link" href="https://www.linkedin.com/in/arnab-das-0a7966173/">LinkedIn</a>
    </li>
    <li class="list-item-inline">
        <a class="link" href="https://github.com/arnabdas-dev353"> GitHub</a>
    </li>
    <li class="list-item-inline">
        <a class="link" href="https://www.facebook.com/profile.php?id=100004558757887">Facebook</a>
    </li>
    <li class="list-item-inline">
        <a class="link" href="https://gmail.com/arnab.0das74@gmail.com">Gmail</a>
    </li>
</ul>
<h5>&#169; 2021 Arnab Das</h5>
</footer>

</body>
</html>

